.image5
{
    width:100px;
    float:left;
    height:50px;
    padding:0 10px 0 0 ;
    margin-left: 10px;
  
}
.text5
{
    text-align: justify;
    font-size: 20px;  
}
.b
{
    background-color: #f5f7fa;;
    
}
.head1
{
    font-size: 50px;
    width: 610px;
     font-family:inherit;
}
.p
{
    font-size: 30px;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
      font-size: 20px;  
   
     line-height: 32px;
     font-weight: 400;
 
     
}
.image1{
    width:600px;
    float:right;
    
    padding:0 10px 0 0 ;
    margin-left: 20px;
   
   }
   .head2
   {
    font-size: 40px;
   
    font-family:inherit;
    margin-left: 350px;
   }
   .p2
   {
    font-size: 30px;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
      font-size: 20px;  
     margin-left: 350px;
     line-height: 32px;
     font-weight: 400;
 
   }
   .image2
   {
       width: 1320px;
   }
   .container
   {
       position: absolute;
       transform: translate(-50%,-50%);
      left: 10%;
      right: 50%;
      
       width: 200px;
   }
   .checked
   {
       color: orange;
   }
   .p3
   {
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #505050;
   }
   .example
{
font-size: 20px;
color: azure;
background-color: darksalmon;
border-style: solid;
margin-left: 20px;
}
.input
{

    font-size: 16px;
   
    height: 50px;
    width: 800px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.example1
{
font-size: 20px;
color: azure;
background-color: darksalmon;
border-style: solid;
margin-left: 700px;
}
   
  